# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv
torch
torchvision
torchaudio
numpy==1.24.4
tqdm
transformers
pytesseract
easyocr
opencv-python
Pillow
openmim
mmcv
mmdet
mmengine
mmocr
setuptools
